*.h linguist-language=C++
*.cpp linguist-language=C++
*.in linguist-generated=false
*.t linguist-detectable=false
*.dll linguist-detectable=false
*.gch linguist-detectable=false
*.d linguist-detectable=false
